[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.omstu.voicenotes
Exec=/usr/bin/ru.omstu.voicenotes
Name=Voice Notes
Name[ru]=Голосовые заметки

[X-Application]
Permissions=Audio;Microphone;UserDirs
OrganizationName=ru.omstu
ApplicationName=voicenotes
ExecDBus=/usr/bin/ru.omstu.voicenotes
